[submodule "lib/vcglib"]
	path = lib/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib
[submodule "lib/libigl"]
	path = lib/libigl
	url = https://github.com/libigl/libigl
[submodule "lib/Directional"]
	path = lib/Directional
	url = https://github.com/avaxman/Directional.git
[submodule "glew"]
	path = lib/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/AntTweakBar"]
	path = lib/AntTweakBar
	url = https://github.com/tschw/AntTweakBar.git
[submodule "lib/xfield_tracer"]
	path = lib/xfield_tracer
	url = https://github.com/nicopietroni/xfield_tracer
[submodule "lib/garment-flattening"]
	path = lib/garment-flattening
	url = https://github.com/CorentinDumery/garment-flattening.git
